server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - JwtAuthGatewayFilter

        - id: contract-service
          uri: lb://contract-service
          predicates:
            - Path=/api/v1/contracts/**
          filters:
            - JwtAuthGatewayFilter

        - id: ai-review-service
          uri: lb://ai-review-service
          predicates:
            - Path=/api/reviews/**
          filters:
            - JwtAuthGatewayFilter



eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true