server:
  port: 8082

spring:
  application:
    name: contract-service

  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: contract_review_db

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add-type-headers: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

logging:
  level:
    root: INFO
    com.contractreview.contractservice: DEBUG
    org.springframework.data.mongodb: DEBUG
    org.mongodb.driver: DEBUG
    org.springframework.kafka: DEBUG